<form novalidate ng-controller='SportFormCtrl'>
    <h1>{{sport.name}}</h1>
    <formly-form model="sport" fields="sportFormFields" form="sportForm">
        <button type="submit" class="btn btn-primary" ng-disabled="sportForm.$invalid" ng-click="submit(sport)">Submit</button>
        <button type="submit" class="btn" ng-disabled="teamForm.$invalid" ng-click="cancel(sport)">Cancel</button>
        <button type="submit" class="btn btn-danger" ng-click="delete(sport)">Delete</button>

    </formly-form>
</form>