{% if team_list%}
    <h1>Teams</h1>
    <ul>
    {% for team in team_list%}
        <li><a href="team/{{team.id}}/">{{team.city}} {{team.name}} </a></li>
    {%endfor%}
    </ul>
{%else%}
    <h1>No Teams</h1>
{%endif%}
<h2><a href="{%url 'create_team'%}">Add Team</a></h2>


{% if athlete_list%}
    <h1>Players</h1>
    <ul>
    {% for player in athlete_list%}
        <li><a href="athlete/{{player.id}}/">{{player.first_name}} {{player.last_name}} </a></li>
    {%endfor%}
    </ul>
{%else%}
   <h1>No Players</h1>
{%endif%}
<h2><a href="{%url 'create_athlete'%}">Add Athlete</a></h2>

