<div class="container-fluid">
<h1>{{athlete.first_name}} {{athlete.last_name}}</h1>
<a href="#/team/{{athleteTeam.id}}">&lsaquo;&lsaquo; Back to all {{athleteTeam.name}} Players</a>
<div class="row-fluid">
<div class="col-md-4">
<div class="row">
<img src="{{athlete.img}}">
</div>
<div class="row">
<button type="submit" class="btn btn-primary ng-scope" ng-click="edit()">Edit</button>
</div>
</div>
<div class="col-md-4">
<div class="row">
<p><b>Team:</b> {{athlete.team}}</p>
<p><b>Number:</b> {{athlete.number}}</p>
<p><b>Position:</b> {{athlete.position}}</p>
</div>
</div>
<div class="col-md-4">
<div class="row">
<p><b>Age:</b> {{athlete.age}}</p>
<p><b>Headline:</b> {{athlete.headline}}</p>
<p><b>Injury:</b> {{athlete.injury}}</p>
</div>
</div>
</div>


