<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="first_name">First Name</option>
        <option value="last_name">Last Name</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul >
        <li ng-repeat="athlete in athletes | filter:query | orderBy:orderProp">
          <a href="#/athlete/{{athlete.id}}">{{athlete.first_name + ' ' + athlete.last_name}}</a>
        </li>
      </ul>

    </div>
  </div>
</div>
